* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media all and (min-width: 0px) {
  #home-page .overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    display: none;
    -webkit-animation: opacityUp 500ms;
            animation: opacityUp 500ms;
    background: rgba(0, 0, 0, 0.2);
  }
  #home-page .navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    width: 100%;
    min-width: 300px;
    height: 4em;
    background: #fff;
  }
  #home-page .navbar__left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    height: 100%;
  }
  #home-page .navbar__left__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 3rem;
    width: 3rem;
    margin: 0 0.5rem;
    border-radius: 50px;
  }
  #home-page .navbar__left__menu:hover {
    background: #eee;
  }
  #home-page .navbar__left .logo {
    display: none;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 100%;
    width: 120px;
    margin-left: 1rem;
    outline: none;
    font-size: 2rem;
    font-family: "Ephesis", sans-serif;
  }
  #home-page .navbar__right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    height: 100%;
    margin-right: 1rem;
  }
  #home-page .navbar__search {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
    margin-right: 1rem;
  }
  #home-page .navbar__search__input {
    display: none;
  }
  #home-page .navbar__notify {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
    margin-right: 1rem;
  }
  #home-page .navbar__user-area {
    display: none;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
    margin-right: 1rem;
  }
  #home-page .navbar__icon {
    -webkit-filter: opacity(0.6);
            filter: opacity(0.6);
    font-size: 1.5rem;
    font-weight: 600;
  }
  #home-page .navbar__icon:hover {
    cursor: pointer;
    -webkit-filter: opacity(1);
            filter: opacity(1);
  }
  #home-page .sidebar {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    width: 80%;
    max-width: 360px;
    min-width: 300px;
    height: 100vh;
    padding: 1rem;
    -webkit-animation: sidebarAppear 500ms;
            animation: sidebarAppear 500ms;
    background: #fff;
  }
  #home-page .sidebar__user-area {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    padding: 1rem 0;
  }
  #home-page .sidebar__avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-size: cover;
    background-position: top center;
  }
  #home-page .sidebar__profile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    width: 100%;
    padding: 0.25rem;
  }
  #home-page .sidebar__profile--link {
    width: 100%;
    outline: none;
    border-radius: 4px;
    line-height: 2rem;
    padding-left: 0.75rem;
    color: #4d4d4d;
    font-size: 0.8rem;
    text-decoration: none;
  }
  #home-page .sidebar__profile--link:hover, #home-page .sidebar__profile--link:focus {
    background: #eee;
  }
  #home-page .sidebar__username {
    width: 200px;
    margin-top: 0.5rem;
    padding-left: 0.75rem;
    font-size: 1rem;
    font-family: "Pacifico", sans-serif;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  #home-page .sidebar__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    width: 100%;
    padding: 0.5rem 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
  }
  #home-page .sidebar__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    outline: none;
    border-radius: 4px;
    padding: 1rem 0.5rem;
    text-decoration: none;
  }
  #home-page .sidebar__link:hover, #home-page .sidebar__link:focus {
    background: #eee;
  }
  #home-page .sidebar__link__icon {
    color: #444444;
  }
  #home-page .sidebar__link__text {
    color: #555555;
    margin-left: 1rem;
    font-family: "Montserrat";
  }
  #home-page .contents {
    margin-top: 1rem;
  }
  #home-page .content {
    height: 200px;
    border-radius: 10px;
    margin-bottom: 1rem;
    background: #fff;
  }
}

@media all and (min-width: 550px) {
  #hom-page .navbar__left .logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media all and (min-width: 1024px) {
  #home-page .navbar__left__menu {
    display: none;
  }
  #home-page .navbar__user-area {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #home-page .navbar__avatar {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    background-size: cover;
    background-position: top center;
  }
  #home-page .navbar__search {
    position: absolute;
    top: 0.75rem;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    z-index: 0;
    height: 2.5rem;
    padding: 1rem;
    border-radius: 25px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    -webkit-filter: opacity(0.8);
            filter: opacity(0.8);
  }
  #home-page .navbar__search:hover, #home-page .navbar__search:focus-within {
    -webkit-filter: opacity(1);
            filter: opacity(1);
    border: 1px solid #f7797d;
  }
  #home-page .navbar__search__input {
    display: block;
    outline: none;
    border: none;
    height: 2.5rem;
    width: 400px;
    margin-left: 0.5rem;
    background: transparent;
    font-family: "Montserrat";
  }
  #home-page .sidebar {
    position: fixed;
    top: 5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0 1rem;
    width: 8.33333%;
    max-width: none;
    min-width: auto;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    -webkit-animation: none;
            animation: none;
    background: transparent;
  }
  #home-page .sidebar__user-area {
    display: none;
  }
  #home-page .sidebar__menu {
    border: none;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    padding: 0;
    margin: 0;
    width: 100%;
  }
  #home-page .sidebar__menu.account-options {
    display: none;
  }
  #home-page .sidebar__link {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    border-radius: 10px;
  }
  #home-page .sidebar__link:hover, #home-page .sidebar__link:focus, #home-page .sidebar__link.active {
    background: #fff;
  }
  #home-page .sidebar__link__text {
    margin: 0;
    font-size: 0.8rem;
  }
}

@-webkit-keyframes sidebarAppear {
  from {
    left: -100%;
    opacity: 0;
  }
  to {
    left: 0;
    opacity: 1;
  }
}

@keyframes sidebarAppear {
  from {
    left: -100%;
    opacity: 0;
  }
  to {
    left: 0;
    opacity: 1;
  }
}

@-webkit-keyframes sidebarDisappear {
  from {
    left: 0;
    opacity: 1;
  }
  to {
    left: -100%;
    opacity: 0;
  }
}

@keyframes sidebarDisappear {
  from {
    left: 0;
    opacity: 1;
  }
  to {
    left: -100%;
    opacity: 0;
  }
}

@-webkit-keyframes opacityUp {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes opacityUp {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/*# sourceMappingURL=Home.css.map */