#home-page .dashboard-content .admin-dashboard {
  display: flex;
  width: 100%;
  height: calc(100vh - 4rem);

  &__content {
    display: block;
    background: #f9fbfd;
    padding: 1rem;
    width: 100%;
    overflow-x: hidden;
    overflow-y: scroll;

    &__headline {
      color: #2581be;
      font-size: 1.5rem;
      margin-bottom: 1rem;
      padding-left: 1rem;
    }

    .list {
      display: grid;
      grid-template-rows: 1fr;
      width: 100%;
      max-width: 100%;
      min-height: 200px;
      font-family: "Montserrat";

      &__headline {
        width: 100%;
        border-radius: 3px 3px 0 0;
        height: 3rem;
        border: 1px solid transparent;
        background: #3a8ad4;

        &__th {
          display: inline-block;
          overflow-x: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;

          color: #fff;
          line-height: 3rem;
          font-size: 1rem;
          font-weight: 900;
          padding: 0 0.5rem;
          &:not(:first-child) {
            border-left: 1px solid #ddd;
          }
        }
      }

      &__row {
        width: 100%;
        outline: none;

        border: 1px solid #eee;
        background: #fff;
        animation: dashboard-table-item-fade-in 300ms ease-in-out;

        &:hover,
        &:focus {
          border: 1px solid #ddd;
        }

        &__td {
          font-size: 0.9rem;
          padding: 1rem 0.5rem;
          font-weight: 500;

          display: inline-block;
          word-break: break-all;
          word-wrap: break-word;

          &:not(:first-child) {
            border-left: 1px solid #ddd;
          }
        }
      }
    }

    .bottom-page-bar {
      display: flex;
      align-items: center;
      justify-content: center;
      overflow-x: scroll;
      margin-top: 1rem;
      margin-bottom: 2rem;
      .page {
        display: inline-block;
        width: fit-content;
        margin-right: 0.5rem;
        border-radius: 3px;
        padding: 0.4rem 1rem;

        font-size: 0.9rem;
        cursor: pointer;

        &:hover {
          background: #ddd;
        }

        i {
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 1rem;
          font-weight: 900;
        }
      }

      .active-page,
      .active-page:hover {
        color: #fff;
        background: #3a8ad4;
      }
    }
  }

  &__student {
    .list {
      &__headline {
        display: grid;
        grid-template-columns: 10% 20% 25% 15% 15% 15%;
        align-items: center;
      }

      &__row {
        display: grid;
        grid-template-columns: 10% 20% 25% 15% 15% 15%;
        align-items: center;

        &__td.manage {
          color: #6c7074;
          padding-left: 1rem;
          cursor: pointer;
        }
      }
    }
  }

  &__lecturer {
    .list {
      &__headline {
        display: grid;
        grid-template-columns: 10% 20% 25% 15% 15%;
        align-items: center;
      }

      &__row {
        display: grid;
        grid-template-columns: 10% 20% 25% 15% 15%;
        align-items: center;

        &__td.manage {
          color: #6c7074;
          padding-left: 1rem;
          cursor: pointer;
        }
      }
    }
  }
}

@keyframes dashboard-table-item-fade-in {
  from {
    transform: translateX(50%);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}
