#home-page .dashboard-content .admin-dashboard {
  display: flex;
  width: 100%;
  height: calc(100vh - 4rem);

  &__content {
    display: block;
    background: #f3f3f3;
    width: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 1rem;

    &__headline {
      color: #2581be;
      font-size: 2rem;
      letter-spacing: 0.05rem;
      margin-bottom: 1rem;
    }

    .bottom-page-bar {
      display: flex;
      align-items: center;
      justify-content: center;
      overflow-x: scroll;
      margin-top: 1rem;
      margin-bottom: 2rem;
      .page {
        display: inline-block;
        width: fit-content;
        margin-right: 0.5rem;
        border-radius: 3px;
        padding: 0.4rem 1rem;

        font-size: 0.9rem;
        cursor: pointer;

        &:hover {
          background: #ddd;
        }

        i {
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 1rem;
          font-weight: 900;
        }
      }

      .active-page,
      .active-page:hover {
        color: #fff;
        background: #3a8ad4;
      }
    }

    .status-bar {
      display: flex;
      flex-flow: row wrap;
      align-items: center;
      width: 100%;
      background: none;
      outline: none;
      border: none;
      word-break: break-all;
      word-wrap: break-word;

      &__icon {
        height: 1.25rem;
        width: 1.25rem;
        margin-right: 0.25rem;

        &--active {
          color: #008000;
        }

        &--banned {
          color: #e3165b;
        }

        &--inactive {
          color: #371041;
        }
      }

      &__content {
        display: inline-block;
        word-break: break-all;
        word-wrap: break-word;
      }

      &__button {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: center;
        width: 100px;
        padding: 0.25rem;
        border-radius: 3px;
        font-weight: 600;
        max-width: 100%;

        &--waiting {
          color: #fff;
          background: #6a9194;
        }
        &--ready {
          color: #fff;
          background: #0bad54;
        }
        &--denied {
          color: #fff;
          background: #da5521;
        }
        &--canceled {
          color: #fff;
          background: #4e4e4e;
        }
        &--finished {
          color: #fff;
          background: #0b5b80;
        }
        &--removed {
          color: #999;
          background: #ddd;
        }
      }
    }

    .list {
      display: grid;
      grid-template-rows: 1fr;

      width: 100%;
      max-width: 100%;
      min-height: 200px;
      padding: 1rem 0;
      border-radius: 8px;
      border: 1px solid #e7e7e7;

      background: #fff;
      font-family: "Segoe UI";

      &__headline {
        width: calc(100% - 2rem);
        height: 3rem;
        margin: 0 auto;
        border-bottom: 2px solid #e7e7e7;

        &__th {
          display: inline-block;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;

          font-weight: 600;
          padding: 0 0.5rem;
          font-family: "Poppins";
          color: #333;
          background: #fff;
        }
      }

      &__row {
        width: calc(100% - 2rem);
        outline: none;
        color: #333;
        margin: 0 auto;
        background: #fff;
        border-bottom: 1px solid #eee;
        animation: dashboard-table-item-fade-in 300ms ease-in-out;

        &:focus {
          position: relative;
          width: 100%;
          padding: 0 1rem;
          border-color: transparent;
          box-shadow: 0 0 2px rgba($color: #165eb1, $alpha: 1);
        }

        &:hover {
          position: relative;
          width: 100%;
          padding: 0 1rem;
          box-shadow: 0 2px 4px rgba($color: #000000, $alpha: 0.2),
            0 -1px 1px rgba($color: #aaa, $alpha: 0.2),
            0 5px 10px rgba($color: #000000, $alpha: 0.1);
        }

        &__td {
          font-size: 0.9rem;
          padding: 1rem 0.5rem;

          display: inline-block;
          word-break: break-all;
          word-wrap: break-word;
        }
      }
    }
  }

  &__student {
    .list {
      &__headline,
      &__row {
        display: grid;
        grid-template-columns: 10% 20% 25% 15% 15% 15%;
        align-items: center;
      }

      &__row {
        &__td.action {
          .setting-icon {
            color: #87949b;
            cursor: pointer;
          }
        }
      }
    }
  }

  &__lecturer {
    .list {
      &__headline,
      &__row {
        display: grid;
        grid-template-columns: 10% 20% 25% 15% 15%;
        align-items: center;
      }

      &__row {
        &__td.action {
          .setting-icon {
            color: #87949b;
            cursor: pointer;
          }
        }
      }
    }
  }

  &__booking {
    .list {
      &__headline,
      &__row {
        display: grid;
        grid-template-columns: 10% 10% 10% 25% 25% 20%;
        align-items: center;
      }
    }
  }

  &__slot {
    .list {
      &__headline,
      &__row {
        display: grid;
        grid-template-columns: 10% 10% 20% 20% 20% 20%;
        align-items: center;
      }
    }
  }
}

@keyframes dashboard-table-item-fade-in {
  from {
    transform: translateX(50%);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}
