* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 0.6rem;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    border: 1px solid transparent;
    border-radius: 10px;
    background-clip: content-box;
    background-color: rgb(53, 53, 53);
}

html {
    height: 100%;
    background: transparent;
    scroll-behavior: smooth;
}
body {
    height: fit-content;
    min-height: 100vh;
    background: transparent;
    font-family: "Montserrat", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
