#home-page .dashboard-content {
  width: 100%;
  height: 100vh;
  padding-top: 4rem;
  display: flex;
  background: #fff;
  font-family: "Segoe UI", "Roboto", Tahoma, Geneva, Verdana, sans-serif;
  transition: transform 400ms ease;

  .sidebar {
    position: sticky;
    top: 0rem;
    left: 0;
    bottom: 0;
    z-index: 1;

    display: flex;
    flex-flow: column nowrap;
    height: 100%;
    padding: 0 0.5rem;
    min-height: calc(100vh - 4rem);

    background: #fff;
    font-family: "Poppins";
    transition: width 100ms;
    border: 1px solid #d3d3d3;

    &__header {
      display: flex;
      align-items: center;
      height: 4rem;
      padding: 0 1rem;

      color: #3a8ad4;
      background: #fff;
      border-bottom: 1px solid #3a8ad4;

      &:hover {
        cursor: pointer;
      }

      i {
        display: flex;
        align-items: center;
        justify-content: center;
        transition: transform 100ms ease;
      }

      p {
        width: 100%;
        font-size: 1.2rem;
        font-weight: 600;
        white-space: nowrap;
        overflow: hidden;
      }
    }

    &__link {
      display: flex;
      align-items: center;
      flex-wrap: nowrap;

      padding: 0.8rem 1rem;
      margin: 0.5rem 0;
      border-radius: 6px;

      background: #fff;
      color: #000;
      font-size: 0.9rem;
      text-decoration: none;
      transition: background-color 200ms ease, color 200ms ease;

      &:hover {
        background: #3a8ad4;
        color: #fff;
      }

      p {
        width: 100%;
        padding-right: 0.5rem;
        white-space: nowrap;
        overflow: hidden;
      }
    }

    .active-dashboard-content {
      background: #3a8ad4;
      color: #fff;
      background-clip: padding-box;
    }
  }

  .active-sidebar {
    .sidebar__header,
    .sidebar__link {
      p {
        position: relative;
        opacity: 1;
        transform: translateX(0%);
      }
      i {
        margin-right: 2rem;
      }
    }
  }
}

@media all and (max-width: 1023.5px) {
  #home-page .dashboard-content {
    .sidebar {
      width: 72px;

      &__header {
        &:hover {
          cursor: pointer;
        }

        p {
          display: none;
        }
        i {
          margin: 0;
        }
      }

      &__link {
        &:hover {
          background: #3a8ad4;
          color: #fff;
        }
        p {
          display: none;
        }
        i {
          margin: 0;
        }
      }
    }

    .active-sidebar {
      width: 280px;

      .sidebar__header,
      .sidebar__link {
        p {
          display: inline-block;
        }
        i {
          margin-right: 2rem;
        }
      }

      .sidebar__header {
        i {
          transform: rotate(-180deg);
        }
      }
    }
  }
}

@media all and (min-width: 1024px) {
  #home-page .dashboard-content {
    .sidebar {
      width: 280px;

      &__header {
        &:hover {
          cursor: pointer;
        }

        p {
          display: inline-block;
        }
        i {
          margin-right: 2rem;
        }
      }

      &__link {
        &:hover {
          background: #3a8ad4;
          color: #fff;
        }
        p {
          display: inline-block;
        }
        i {
          margin-right: 2rem;
        }
      }
    }

    .active-sidebar {
      width: 72px;

      .sidebar__header,
      .sidebar__link {
        p {
          display: none;
        }
        i {
          margin-right: 0;
        }
      }

      .sidebar__header {
        i {
          margin: 0;
          transform: rotate(-180deg);
        }
      }
    }
  }
}
