#home-page {
    position: absolute;
    top: 0;
    left: 0;

    display: flex;
    overflow-x: hidden;
    width: 100%;
    min-width: 300px;
    height: 100%;
    min-height: 100vh;

    background: url("../svg/sun-tornado3.svg") no-repeat center center fixed;
    background-size: cover;

    .content {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-flow: column;

        width: 100%;
        margin-top: 4rem;
        min-height: calc(100vh - 4rem);

        &__headline {
            width: 100%;
            margin-top: 4rem;
            color: #fef4f5;
            text-align: center;
            font-size: 8vw;
        }

        &__appname {
            color: #6fecb2;
            width: 80%;
            margin-top: 0.5rem;
            font-size: 4vw;
            text-align: center;
            font-family: "Montserrat";
        }

        &__button {
            padding: 1rem 2.5rem;
            margin-top: 2rem;

            border-radius: 50px;
            outline: none;
            font-weight: 900;
            text-decoration: none;

            color: #fff;
            background-image: linear-gradient(to right, #23dbf9 0%, #ff64bd 100%);
            box-shadow: -4px 0 4px rgba($color: #23dbf9, $alpha: 0.3), 4px 0 4px rgba($color: #ff64bd, $alpha: 0.3);
            &:hover,
            &:focus {
                box-shadow: -4px 0 20px rgba($color: #23dbf9, $alpha: 0.3),
                    4px 0 20px rgba($color: #23dbf9, $alpha: 0.3);
            }
        }
    }

    .hide-content {
        transform: translateX(100%);
    }
}

@media all and (max-width: 1023.9px) {
    #home-page {
        .content {
            transform: translateX(0%);
            transition: transform 400ms ease;

            &__headline {
                font-size: 7vw;
            }

            &__appname {
                font-size: 4vw;
            }
        }

        .hide-content {
            transform: translateX(100%);
        }
    }
}

@media all and (min-width: 1024px) {
    #home-page {
        .content {
            &__headline {
                font-size: 5.2rem;
            }

            &__appname {
                font-size: 3rem;
                max-width: 1000px;
            }
        }
    }
}
