#home-page .dashboard-content .student-dashboard {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  height: calc(100vh - 4rem);

  &__content {
    display: inline-block;
    background: #eff1f3;
    overflow: overlay;
    width: 100%;

    &__headline {
      color: #2581be;
      margin-bottom: 1rem;
      padding-left: 1rem;

      font-size: 2rem;
      letter-spacing: 0.2rem;
    }

    .booking-list {
      display: inline-block;
      width: 100%;

      &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;

        margin-top: 1.5rem;
        margin-bottom: 0.5rem;
        padding: 0 1rem;
        text-transform: uppercase;
      }

      &__title {
        font-size: 1.2rem;
        letter-spacing: 0.1rem;

        &--1 {
          color: #6a9194;
        }
        &--2 {
          color: #0bad54;
        }
        &---1 {
          color: #da5521;
        }
        &--0 {
          color: #4e4e4e;
        }
        &--4 {
          color: #0b5b80;
        }
      }

      &__panel {
        margin-left: auto;
        display: flex;
        align-items: center;
        .refresh,
        .expand-more {
          border-radius: 50%;
          padding: 0.2rem;
          font-size: 2rem;
          &:hover,
          &:active {
            cursor: pointer;
            background: #ccc;
          }
        }
        .refresh {
          margin-right: 0.5rem;
        }

        .expand-more {
          transition: transform 400ms ease-in-out;
        }

        .rotate-180 {
          transform: rotate(180deg);
        }
      }

      &__content {
        position: relative;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        grid-gap: 2rem;

        padding: 1rem;
        width: 100%;
        height: fit-content;
        min-height: 200px;
        transition: all 200ms linear;

        .booking-request {
          display: grid;
          grid-gap: 1rem;
          border-radius: 6px;

          padding: 1rem;
          margin-bottom: 1rem;

          opacity: 0;
          transform: translateY(50px);
          border: 1px solid #e7e7e7;
          background: #fff;
          &:hover {
            border: 1 solid transparent;
            box-shadow: -4px -4px 8px #d9e1e4, 4px 4px 8px #d5dbdd;
          }

          &__more-detail {
            position: absolute;
            top: -1px;
            right: -1px;
            padding: 0 0.5rem;
            font-size: 1.5rem;
            color: #fff;
            background-color: #3a8ad4;
            display: flex;
            align-items: center;
            transition: transform 200ms ease;
            &:hover {
              cursor: pointer;
              transform: scale(1.5);
            }

            &:active {
              transform: scale(1);
            }
          }

          &__lecturer-name,
          &__topic,
          &__time-start,
          &__meeting-url,
          &__create-time,
          &__time-end {
            display: flex;
            flex-flow: row wrap;
            > p {
              width: 100%;
              font-size: 0.9rem;
            }

            > div {
              display: inline-block;
              width: 100%;
              padding: 0.4rem 0;
              margin-top: 0.2rem;

              font-size: 0.9rem;
              font-weight: 600;

              overflow: hidden;
              white-space: nowrap;
              text-overflow: ellipsis;
              border-bottom: 1px solid #2c5570;

              > div {
                display: inline-block;
                &:first-child {
                  margin-right: 0.5rem;
                }
              }
            }
          }

          &__meeting-url {
            a {
              display: flex;
              align-items: center;
              justify-content: center;
              width: 100%;
              padding: 0.5rem;
              border-radius: 3px;
              margin-top: 0.5rem;

              font-size: 0.9rem;
              font-weight: 600;

              color: #fff;
              background: #10866d;
              text-decoration: none;
              overflow: hidden;
              white-space: nowrap;
              text-overflow: ellipsis;

              cursor: pointer;
              &:active {
                transform: scale(0.95);
              }
            }
          }
        }
      }

      .hide-booking-list-content {
        height: 0;
        opacity: 0;
        padding: 0;
        margin: 0;
        border: 0;
        min-height: 0;
        overflow: hidden;
        * {
          opacity: 0;
          border: 0;
          overflow: hidden;
        }
      }
    }
  }
}

@media all and (max-width: 500.5px) {
  #home-page .dashboard-content .student-dashboard {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    height: calc(100vh - 4rem);

    &__content {
      padding: 1rem 0;
    }
  }
}

@media all and (min-width: 501px) {
  #home-page .dashboard-content .student-dashboard {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    height: calc(100vh - 4rem);

    &__content {
      padding: 1rem;
    }
  }
}

@keyframes dashboard-booking-item-fadein {
  from {
    opacity: 0;
    transform: translateY(50px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
