#successful-message {
  width: 100%;
  margin: 0.5rem auto;
  padding: 0.3rem 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #1faa54;

  .message-content {
    text-align: justify;
    font-size: 0.8rem;
    font-weight: 600;
    color: #07943d;
  }
}
