// $auth-bg-color: hsl(218, 21%, 90%);
// box-shadow: -2px -2px 2px #edeff1, 2px 2px 2px #cacfd8;
@media all and (min-width: 0) {
    #auth-page .content {
        .auth-box {
            position: relative;
            display: flex;
            justify-content: center;
            flex-wrap: nowrap;

            width: 100%;
            min-height: 100vh;
            background: rgba($color: #fff, $alpha: 0.8);
        }
    }
}

@media screen and (min-width: 768px) {
    #auth-page .content {
        .auth-box {
            width: 700px;
            height: 600px;
            min-height: none;
            border-radius: 10px;
            min-height: fit-content;
            box-shadow: 0 0 4px rgba($color: #000, $alpha: 0.21);
        }
    }
}

@keyframes showDown {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
