@media all and (min-width: 0) {
    #auth-page {
        .auth-box {
            .logo {
                position: absolute;
                top: 0;
                right: 0.75rem;
                z-index: 1;

                display: none;
                align-items: center;

                height: 3rem;
                width: fit-content;
                border-radius: 0 0 10px 10px;
                background: rgb(16, 119, 160);
            }
        }
    }
}

@media all and (min-width: 500px) {
    #auth-page {
        .auth-box {
            .logo {
                display: flex;
            }
        }
    }
}
