$color-darkBlue: #1582b4;
$color-yellow-logo: #ddb637;
$color-blue-google: #4285f4;

@media all and (min-width: 0) {
    #auth-page .content .auth-box .sign-in-local {
        display: flex;
        align-items: center;
        flex-flow: column nowrap;

        width: 100%;
        min-width: 300px;
        border-radius: 0;
        padding: 1rem;
        animation: showDown 500ms;

        &__headline {
            margin-top: 6rem;
            margin-bottom: 3rem;

            font-size: 3rem;
            font-weight: 400;
            font-family: "Lobster";
            color: $color-yellow-logo;
        }

        &__form {
            display: flex;
            flex-flow: column;
            align-items: center;

            width: 100%;
            max-width: 460px;
            min-width: 300px;
        }

        &__control {
            width: 100%;
            margin-bottom: 1rem;
        }

        &__label {
            position: relative;
            bottom: 2.25rem;
            left: 1rem;
            z-index: 1;

            color: rgba($color: $color-darkBlue, $alpha: 0.8);
            margin-bottom: -1rem;

            transition: 0.2s;

            line-height: 1rem;
            font-size: 1rem;
            text-transform: capitalize;
            text-align: left;
        }

        &__input {
            outline: none;
            border: none;
            border: 1px solid rgba($color: $color-darkBlue, $alpha: 0.3);
            border-radius: 0.5rem;

            width: 100%;
            height: 3rem;
            padding-left: 1rem;

            font-size: 1rem;
            background: transparent;

            &:hover,
            &:focus,
            &:not(:placeholder-shown) {
                border: 1px solid $color-darkBlue;
            }
        }

        &__input:hover + .sign-in-local__label,
        &__input:focus + .sign-in-local__label,
        &__input:not(:placeholder-shown) + .sign-in-local__label {
            left: 0.5rem;
            bottom: 4.25rem;

            background: transparent;
            color: $color-darkBlue;

            font-size: 1rem;
            font-weight: 600;
        }

        &__button {
            width: 50%;
            height: 3rem;
            border-radius: 50px;

            border: none;
            outline: none;
            background: none;
            cursor: pointer;

            font-size: 1rem;
            transition: width 0.2s ease-in-out;

            background: $color-darkBlue;
            color: #fff;
            box-shadow: 0 2px 4px rgba($color: #000, $alpha: 0.2);

            &:hover,
            &:focus {
                width: 100%;
                box-shadow: 0 2px 4px rgba($color: #000, $alpha: 0.2),
                    0 2px 6px rgba($color: $color-blue-google, $alpha: 0.2),
                    0 4px 12px rgba($color: $color-blue-google, $alpha: 0.2);
            }
        }
    }
}

@media screen and (min-width: 768px) {
    #auth-page .content .auth-box .sign-in-local {
        height: 400px;
        padding: 1rem;
        border-radius: 10px;
    }
}
