#home-page .search-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
  min-height: 100vh;
  background: #fff;
  -webkit-transition: -webkit-transform 300ms ease;
  transition: -webkit-transform 300ms ease;
  transition: transform 300ms ease;
  transition: transform 300ms ease, -webkit-transform 300ms ease;
}

#home-page .search-content::-webkit-scrollbar {
  width: 0;
}

#home-page .search-content__header {
  display: inline-block;
  width: 100%;
  height: 100vh;
  background: url("../images/lecturerAndStudent.jpg") no-repeat top center;
  background-size: cover;
}

#home-page .search-content__header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

#home-page .search-content__header__container .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  width: calc(100% - 2rem);
  max-width: 1024px;
  min-width: 268px;
  margin: 0 auto;
}

#home-page .search-content__header__container .content p {
  width: 100%;
  margin-bottom: 1rem;
  color: #04cdff;
  opacity: 0;
  font-size: 2.5rem;
  font-weight: 600;
  font-family: "Montserrat";
}

#home-page .search-content__header__container .content p:nth-child(1) {
  -webkit-animation: search-content-header-content-fade-in 300ms forwards 0.5s;
          animation: search-content-header-content-fade-in 300ms forwards 0.5s;
}

#home-page .search-content__header__container .content p:nth-child(2) {
  -webkit-animation: search-content-header-content-fade-in 300ms forwards 1s;
          animation: search-content-header-content-fade-in 300ms forwards 1s;
}

#home-page .search-content__header__container .content p:nth-child(3) {
  -webkit-animation: search-content-header-content-fade-in 300ms forwards 1.5s;
          animation: search-content-header-content-fade-in 300ms forwards 1.5s;
}

#home-page .search-content__header__container .search-bar {
  position: relative;
  z-index: 1;
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
}

#home-page .search-content__header__container .search-bar form {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

#home-page .search-content__header__container .search-bar form input {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  height: 4rem;
  padding: 1rem 1rem;
  font-size: 1rem;
  outline: none;
  border-radius: 3px 0 0 3px;
  color: #333;
  border: none;
  background: #fff;
}

#home-page .search-content__header__container .search-bar form button {
  height: 4rem;
  padding: 0 2rem;
  outline: none;
  border: none;
  border-radius: 0 3px 3px 0;
  font-size: 2rem;
  text-transform: uppercase;
  color: #eee;
  background: #1c83b3;
  cursor: pointer;
}

#home-page .search-content__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  min-height: 100vh;
  background: #f5f7f8;
}

#home-page .search-content__body .search-filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  background: #f5f7f8;
  -webkit-transition: height 400ms ease-in-out;
  transition: height 400ms ease-in-out;
}

#home-page .search-content__body .search-filter .lecturer-filter,
#home-page .search-content__body .search-filter .topic-filter,
#home-page .search-content__body .search-filter .time-filter,
#home-page .search-content__body .search-filter .sort-filter,
#home-page .search-content__body .search-filter .order-filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

#home-page .search-content__body .search-filter .lecturer-filter__header,
#home-page .search-content__body .search-filter .topic-filter__header,
#home-page .search-content__body .search-filter .time-filter__header,
#home-page .search-content__body .search-filter .sort-filter__header,
#home-page .search-content__body .search-filter .order-filter__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 1.5rem;
  margin-bottom: 1rem;
  padding: 1rem 0;
  font-size: 0.9rem;
  font-weight: 500;
  border-bottom: 1px solid #aaa;
}

#home-page .search-content__body .search-filter .lecturer-filter form {
  position: relative;
  width: 100%;
}

#home-page .search-content__body .search-filter .lecturer-filter__input {
  width: 100%;
  height: 2.5rem;
  padding-left: 0.5rem;
  padding-right: 3rem;
  outline: none;
  background: transparent;
  border: 1px solid #aaa;
}

#home-page .search-content__body .search-filter .lecturer-filter__input:hover, #home-page .search-content__body .search-filter .lecturer-filter__input:focus-within {
  background: #fff;
  -webkit-box-shadow: 5px 5px 0px #d5dde0;
          box-shadow: 5px 5px 0px #d5dde0;
}

#home-page .search-content__body .search-filter .lecturer-filter__submit {
  position: absolute;
  right: 0;
  width: 2.5rem;
  height: 2.5rem;
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
}

#home-page .search-content__body .search-filter .lecturer-filter .prompt {
  position: absolute;
  top: 2.8rem;
  z-index: 1;
  overflow: auto;
  max-height: 200px;
  width: 100%;
  border-radius: 0 0 3px 3px;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  background: #fff;
  -webkit-box-shadow: 5px 5px 0px #d5dde0;
          box-shadow: 5px 5px 0px #d5dde0;
}

#home-page .search-content__body .search-filter .lecturer-filter .prompt__item {
  width: 100%;
  padding: 0.5rem;
  -webkit-transition: background-color 100ms ease;
  transition: background-color 100ms ease;
}

#home-page .search-content__body .search-filter .lecturer-filter .prompt__item:hover, #home-page .search-content__body .search-filter .lecturer-filter .prompt__item:focus {
  color: #333;
  background-color: #d1f0ff;
}

#home-page .search-content__body .search-filter .lecturer-filter .prompt .prompt-item-active {
  color: #333;
  background-color: #d1f0ff;
}

#home-page .search-content__body .search-filter .lecturer-filter .lecturer-filter-hide-prompt {
  opacity: 0;
  overflow: hidden;
  height: 0;
}

#home-page .search-content__body .search-filter .topic-filter .box__picker {
  position: relative;
}

#home-page .search-content__body .search-filter .topic-filter .box__picker .prompt {
  position: absolute;
  top: 2.8rem;
  z-index: 1;
  overflow: auto;
  max-height: 200px;
  width: 100%;
  border-radius: 0 0 3px 3px;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  background: #fff;
  -webkit-box-shadow: 5px 5px 0px #d5dde0;
          box-shadow: 5px 5px 0px #d5dde0;
}

#home-page .search-content__body .search-filter .topic-filter .box__picker .prompt__topic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0.5rem;
  -webkit-transition: background-color 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out;
  transition: background-color 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out;
  transition: background-color 0.4s ease-in-out, transform 0.4s ease-in-out;
  transition: background-color 0.4s ease-in-out, transform 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out;
  cursor: pointer;
}

#home-page .search-content__body .search-filter .topic-filter .box__picker .prompt__topic:hover {
  background-color: #d1f0ff;
  color: #333;
}

#home-page .search-content__body .search-filter .topic-filter .box__picker .prompt__topic i {
  margin-right: 0.5rem;
}

#home-page .search-content__body .search-filter .topic-filter .box__picker .prompt__topic__majorid {
  margin-left: auto;
  margin-right: 0.5rem;
}

#home-page .search-content__body .search-filter .topic-filter .box__picker .prompt__topic:active {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

#home-page .search-content__body .search-filter .topic-filter .box__picker .prompt__topic-active {
  background-color: #d1f0ff;
  color: #333;
}

#home-page .search-content__body .search-filter .topic-filter .box__picker .hide-prompt {
  opacity: 0;
  overflow: hidden;
  height: 0;
  border: none;
  -webkit-box-shadow: 0 0 0 transparent;
          box-shadow: 0 0 0 transparent;
}

#home-page .search-content__body .search-filter .topic-filter .box__input {
  display: block;
  width: 100%;
  height: 2.5rem;
  padding: 0 1rem 0 0.5rem;
  outline: none;
  background: transparent;
  border: 1px solid #aaa;
}

#home-page .search-content__body .search-filter .topic-filter .box__input:hover, #home-page .search-content__body .search-filter .topic-filter .box__input:focus-within {
  background: #fff;
  -webkit-box-shadow: 5px 5px 0px #d5dde0;
          box-shadow: 5px 5px 0px #d5dde0;
}

#home-page .search-content__body .search-filter .topic-filter .box__list-topic {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(100px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  -ms-grid-rows: (30px)[auto-fill];
      grid-template-rows: repeat(auto-fill, 30px);
  grid-gap: 0.25rem;
  overflow-y: auto;
  width: 100%;
  padding: 1rem 0;
}

#home-page .search-content__body .search-filter .topic-filter .box__topic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  outline: none;
  border: none;
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
  border-radius: 3px;
  padding: 0.5rem;
  font-size: 0.9rem;
  color: #fff;
  background: #777;
  cursor: pointer;
}

#home-page .search-content__body .search-filter .topic-filter .box__topic i {
  display: inline-block;
  cursor: pointer;
  font-size: 0.8rem;
}

#home-page .search-content__body .search-filter .topic-filter .box__topic--default {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 0.9rem;
  cursor: pointer;
  color: #fff;
  background: #1cacac;
}

#home-page .search-content__body .search-filter .topic-filter .box__topic--selected {
  color: #fff;
  background: #28afc7;
}

#home-page .search-content__body .search-filter .topic-filter .box__topic--selected-majorid {
  margin-left: auto;
  margin-right: 0.5rem;
}

#home-page .search-content__body .search-filter .time-filter__content,
#home-page .search-content__body .search-filter .sort-filter__content,
#home-page .search-content__body .search-filter .order-filter__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

#home-page .search-content__body .search-filter .time-filter__option,
#home-page .search-content__body .search-filter .sort-filter__option,
#home-page .search-content__body .search-filter .order-filter__option {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-bottom: 1rem;
  text-transform: capitalize;
  color: #777;
  font-size: 0.9rem;
  cursor: pointer;
}

#home-page .search-content__body .search-filter .time-filter__option--selected, #home-page .search-content__body .search-filter .time-filter__option:hover,
#home-page .search-content__body .search-filter .sort-filter__option--selected,
#home-page .search-content__body .search-filter .sort-filter__option:hover,
#home-page .search-content__body .search-filter .order-filter__option--selected,
#home-page .search-content__body .search-filter .order-filter__option:hover {
  color: #000;
  font-weight: 500;
}

#home-page .search-content__body .search-result {
  display: inline-block;
  padding: 2rem 1rem;
}

#home-page .search-content__body .search-result .bottom-page-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow-x: scroll;
  margin-top: 1rem;
}

#home-page .search-content__body .search-result .bottom-page-bar .page {
  display: inline-block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-right: 0.5rem;
  border-radius: 3px;
  padding: 0.4rem 1rem;
  font-size: 0.9rem;
  cursor: pointer;
}

#home-page .search-content__body .search-result .bottom-page-bar .page:hover {
  background: #ddd;
}

#home-page .search-content__body .search-result .bottom-page-bar .page i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1rem;
  font-weight: 900;
}

#home-page .search-content__body .search-result .bottom-page-bar .active-page,
#home-page .search-content__body .search-result .bottom-page-bar .active-page:hover {
  color: #fff;
  background: #3a8ad4;
}

#home-page .search-content__body .search-result .bottom-page-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow-x: scroll;
  margin-top: 2rem;
}

#home-page .search-content__body .search-result .bottom-page-bar .page {
  display: inline-block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-right: 0.5rem;
  border-radius: 3px;
  padding: 0.4rem 1rem;
  font-size: 0.9rem;
  cursor: pointer;
}

#home-page .search-content__body .search-result .bottom-page-bar .page:hover {
  background: #ddd;
}

#home-page .search-content__body .search-result .bottom-page-bar .page i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1rem;
  font-weight: 900;
}

#home-page .search-content__body .search-result .bottom-page-bar .active-page,
#home-page .search-content__body .search-result .bottom-page-bar .active-page:hover {
  color: #fff;
  background: #3a8ad4;
}

#home-page .search-content__body .search-result .not-match {
  width: 100%;
  font-size: 1.2rem;
  font-weight: 600px;
  margin-top: 2rem;
  text-align: center;
  height: 200px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

#home-page .search-content__searchNav {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  padding: 0 0.5rem;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background: #fff;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}

#home-page .search-content__searchNav__container {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-grid-columns: 100px 1fr 100px;
      grid-template-columns: 100px 1fr 100px;
  grid-column-gap: 0.5rem;
  margin: 0 auto;
  height: 4rem;
  max-width: 1400px;
}

#home-page .search-content__searchNav__container .search-bar form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
}

#home-page .search-content__searchNav__container .search-bar form input {
  outline: none;
  width: 100%;
  height: 3rem;
  padding: 1rem;
  border-radius: 3px 0 0 3px;
  font-size: 1rem;
  border: 1px solid #d3d3d3;
  border-right: 0;
  -webkit-box-shadow: inset 0 1px 2px #eee;
          box-shadow: inset 0 1px 2px #eee;
}

#home-page .search-content__searchNav__container .search-bar form input:hover, #home-page .search-content__searchNav__container .search-bar form input:focus-within {
  border: 1px solid #1c62b9;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
          box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
}

#home-page .search-content__searchNav__container .search-bar form input::-webkit-input-placeholder {
  color: #777;
}

#home-page .search-content__searchNav__container .search-bar form input:-ms-input-placeholder {
  color: #777;
}

#home-page .search-content__searchNav__container .search-bar form input::-ms-input-placeholder {
  color: #777;
}

#home-page .search-content__searchNav__container .search-bar form input::placeholder {
  color: #777;
}

#home-page .search-content__searchNav__container .search-bar form button {
  outline: none;
  height: 3rem;
  width: 5rem;
  cursor: pointer;
  background: #eee;
  border: 1px solid #d3d3d3;
  -webkit-transition: background-color 200ms ease;
  transition: background-color 200ms ease;
}

#home-page .search-content__searchNav__container .search-bar form button .search-icon {
  font-size: 1.4rem;
}

#home-page .search-content__searchNav__toggle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: 0 auto;
  width: 100px;
  height: 3rem;
}

#home-page .search-content__searchNav__toggle:hover {
  cursor: pointer;
  background: #eee;
}

#home-page .search-content__searchNav__toggle i {
  -webkit-transition: -webkit-transform 300ms ease;
  transition: -webkit-transform 300ms ease;
  transition: transform 300ms ease;
  transition: transform 300ms ease, -webkit-transform 300ms ease;
  font-size: 1.2rem;
  color: #333;
}

#home-page .search-content__searchNav__toggle h2 {
  color: #333;
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
}

#home-page .search-content__searchNav__loader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100px;
  height: 3rem;
  margin: 0 auto;
  overflow: hidden;
}

#home-page .search-content__searchNav__loader__circle {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 80px;
  height: 3rem;
  border-radius: 50%;
  cursor: pointer;
}

#home-page .search-content__searchNav__loader__circle div {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-self: center;
  overflow: hidden;
  width: 100%;
  height: 100%;
  border: 3px solid transparent;
  -webkit-transition: border-radius 100ms ease-in-out, border-color 400ms ease-in-out;
  transition: border-radius 100ms ease-in-out, border-color 400ms ease-in-out;
}

#home-page .search-content__searchNav__loader__circle div:nth-child(1) {
  -webkit-animation-delay: -0.45s;
          animation-delay: -0.45s;
}

#home-page .search-content__searchNav__loader__circle div:nth-child(1) .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  margin: 0 auto;
  height: 1rem;
  opacity: 1;
  -webkit-transition: height 400ms ease-in-out;
  transition: height 400ms ease-in-out;
}

#home-page .search-content__searchNav__loader__circle div:nth-child(1) .logo__img {
  height: 1rem;
}

#home-page .search-content__searchNav__loader__circle div:nth-child(1) .logo__text {
  display: none;
}

#home-page .search-content__searchNav__loader__circle div:nth-child(2) {
  -webkit-animation-delay: -0.3s;
          animation-delay: -0.3s;
}

#home-page .search-content__searchNav__loader__circle div:nth-child(3) {
  -webkit-animation-delay: -0.15s;
          animation-delay: -0.15s;
}

#home-page .search-content__searchNav .active-loader .search-content__searchNav__loader__circle {
  cursor: initial;
  -webkit-animation: lds-ring 1s cubic-bezier(0.5, 0, 0.5, 1) infinite;
          animation: lds-ring 1s cubic-bezier(0.5, 0, 0.5, 1) infinite;
}

#home-page .search-content__searchNav .active-loader .search-content__searchNav__loader__circle div {
  color: transparent;
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  border-color: #33a7f5 transparent transparent transparent;
}

#home-page .search-content__searchNav .active-loader .search-content__searchNav__loader__circle div:nth-child(1) {
  -webkit-animation-delay: -0.45s;
          animation-delay: -0.45s;
}

#home-page .search-content__searchNav .active-loader .search-content__searchNav__loader__circle div:nth-child(1) .logo {
  overflow: hidden;
  height: 0rem;
  opacity: 0;
}

#home-page .search-content .active-header .toggle i {
  font-weight: 900;
  color: #000;
}

.rotate-180 i {
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

@media all and (max-width: 1023.5px) {
  #home-page .search-content__body .filter-overlay {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 1;
    -webkit-transition: opacity 300ms ease-in-out;
    transition: opacity 300ms ease-in-out;
    background: rgba(0, 0, 0, 0.3);
  }
  #home-page .search-content__body .search-filter {
    position: fixed;
    bottom: 0;
    z-index: 2;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    overflow: auto;
    height: 70%;
    border-radius: 25px 25px 0 0;
    margin-top: 0.5rem;
    background: #fff;
    padding-top: 0;
    border-top: 1px solid #a5a4a4;
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
  }
  #home-page .search-content__body .search-filter::-webkit-scrollbar {
    width: 0;
  }
  #home-page .search-content__body .search-filter .lecturer-filter,
  #home-page .search-content__body .search-filter .topic-filter,
  #home-page .search-content__body .search-filter .time-filter,
  #home-page .search-content__body .search-filter .sort-filter,
  #home-page .search-content__body .search-filter .order-filter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    width: 100%;
    margin-bottom: 2rem;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    padding: 1rem 2rem;
    border-top: 1px solid #ddd;
  }
  #home-page .search-content__body .search-filter .lecturer-filter__header,
  #home-page .search-content__body .search-filter .topic-filter__header,
  #home-page .search-content__body .search-filter .time-filter__header,
  #home-page .search-content__body .search-filter .sort-filter__header,
  #home-page .search-content__body .search-filter .order-filter__header {
    border: none;
  }
  #home-page .search-content__body .search-filter__close {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    -webkit-box-ordinal-group: -1;
        -ms-flex-order: -2;
            order: -2;
    padding: 0.2rem 1rem;
    text-align: right;
    background: #fff;
    -webkit-box-shadow: 0 4px 4px #ccc;
            box-shadow: 0 4px 4px #ccc;
  }
  #home-page .search-content__body .search-filter__close i:hover {
    cursor: pointer;
    color: #fff;
    border-radius: 50%;
    background: #777;
  }
  #home-page .search-content__body .hide-filter {
    height: 0;
    padding: 0;
    opacity: 0;
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
  }
  #home-page .search-content__body .hide-overlay {
    opacity: 0;
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  #home-page .search-content__body .search-result {
    width: 100vw;
  }
}

@media all and (min-width: 1024px) {
  #home-page .search-content__body .filter-overlay {
    display: none;
  }
  #home-page .search-content__body .search-filter {
    display: -ms-grid;
    display: grid;
    grid-auto-flow: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-grid-columns: 300px 300px 100px 100px 100px;
        grid-template-columns: 300px 300px 100px 100px 100px;
    grid-column-gap: 2rem;
    margin: 0 auto;
    width: 100%;
    height: 400px;
    overflow: auto;
    margin-top: 2rem;
    border-bottom: 1px solid #ccc;
  }
  #home-page .search-content__body .search-filter__close {
    display: none;
  }
  #home-page .search-content__body .search-filter .topic-filter .box__list-topic::-webkit-scrollbar {
    width: 0;
  }
  #home-page .search-content__body .search-filter .time-filter,
  #home-page .search-content__body .search-filter .sort-filter,
  #home-page .search-content__body .search-filter .order-filter {
    width: 100px;
  }
  #home-page .search-content__body .hide-filter {
    overflow: hidden;
    height: 0;
    margin: 0;
    opacity: 0;
    border: none;
  }
  #home-page .search-content__body .search-result {
    width: 100%;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
  }
}

@-webkit-keyframes search-content-slot-faded {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes search-content-slot-faded {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes lds-ring {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes lds-ring {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes search-content-header-content-fade-in {
  from {
    opacity: 0;
    -webkit-transform: translateX(-20px);
            transform: translateX(-20px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes search-content-header-content-fade-in {
  from {
    opacity: 0;
    -webkit-transform: translateX(-20px);
            transform: translateX(-20px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
/*# sourceMappingURL=searchContent.css.map */