.auth-page .content .sign-in {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: calc(100% - 2rem);
  max-width: 400px;
  min-width: 268px;
  border-radius: 6px;
  padding: 1rem 2rem;
  margin: 0 auto;
  -webkit-animation: auth-signin-showup 400ms ease;
          animation: auth-signin-showup 400ms ease;
  font-family: "Poppins";
  background: #fff;
  -webkit-box-shadow: -2px -2px 4px #7a8a92, 2px 2px 4px #232e3a;
          box-shadow: -2px -2px 4px #7a8a92, 2px 2px 4px #232e3a;
}

.auth-page .content .sign-in__headline {
  margin-bottom: 1rem;
  color: #182f5d;
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
}

.auth-page .content .sign-in .google {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  margin: 1rem 0;
}

.auth-page .content .sign-in .google__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  width: 100%;
  border-radius: 5px;
  background: transparent;
  -webkit-transition: -webkit-box-shadow 200ms ease;
  transition: -webkit-box-shadow 200ms ease;
  transition: box-shadow 200ms ease;
  transition: box-shadow 200ms ease, -webkit-box-shadow 200ms ease;
  -webkit-box-shadow: -5px -5px 10px #edeff1, 5px 5px 10px #bdc2ca;
          box-shadow: -5px -5px 10px #edeff1, 5px 5px 10px #bdc2ca;
}

.auth-page .content .sign-in .google__button:hover {
  cursor: pointer;
  -webkit-box-shadow: -10px -10px 15px #edeff1, 10px 10px 15px #bdc2ca;
          box-shadow: -10px -10px 15px #edeff1, 10px 10px 15px #bdc2ca;
}

.auth-page .content .sign-in .google__icon {
  height: 3rem;
  width: 3rem;
  margin-right: 1rem;
  border: 1rem solid transparent;
  background: url("../svg/icons8-google-24.svg") no-repeat center center;
}

.auth-page .content .sign-in .google__text {
  display: inline-block;
  width: 180px;
  color: #333333cc;
  font-size: 1rem;
  font-weight: 600;
  padding-right: 1rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  background: transparent;
}

.auth-page .content .sign-in__signup-link {
  width: 100%;
  font-size: 0.8rem;
  margin-top: 2rem;
  color: #333;
}

.auth-page .content .sign-in__signup-link a {
  color: #0645ad;
  text-decoration: none;
  margin-left: 0.5rem;
  font-weight: 500;
  text-underline-offset: 0.2rem;
}

.auth-page .content .sign-in__signup-link a:hover {
  text-decoration: underline;
}

.auth-page .content .sign-in__option {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin-top: 0.5rem;
  font-size: 0.8rem;
  font-weight: 500;
  color: #0645ad;
  cursor: pointer;
}

.auth-page .content .sign-in__option i {
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
}

.auth-page .content .sign-in__option .rotate {
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.auth-page .content .sign-in .local {
  display: none;
  opacity: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  width: 100%;
  margin-top: 2rem;
}

.auth-page .content .sign-in .local__control {
  width: 100%;
}

.auth-page .content .sign-in .local__label {
  position: relative;
  bottom: 2.25rem;
  left: 1rem;
  z-index: 1;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  color: rgba(28, 74, 134, 0.4);
  line-height: 1rem;
  font-size: 1rem;
  text-transform: capitalize;
  text-align: left;
}

.auth-page .content .sign-in .local__input {
  outline: none;
  border: none;
  border: 1px solid rgba(48, 119, 212, 0.6);
  border-radius: 0.5rem;
  width: 100%;
  height: 3rem;
  padding-left: 1rem;
  font-size: 1rem;
  background: transparent;
}

.auth-page .content .sign-in .local__input:hover, .auth-page .content .sign-in .local__input:focus, .auth-page .content .sign-in .local__input:not(:placeholder-shown) {
  border: 2px solid #3077d4;
}

.auth-page .content .sign-in .local__input:hover + .local__label,
.auth-page .content .sign-in .local__input:focus + .local__label,
.auth-page .content .sign-in .local__input:not(:placeholder-shown) + .local__label {
  bottom: 3.8rem;
  left: 0.7rem;
  padding: 0 0.3rem;
  background: #ffffff;
  color: #3077d4;
  font-size: 0.8rem;
}

.auth-page .content .sign-in .local__button {
  width: 40%;
  margin: 0 auto;
  height: 3rem;
  border-radius: 50px;
  outline: none;
  border: none;
  color: #edeff1;
  background: #3077d4;
  -webkit-transition: width 400ms ease;
  transition: width 400ms ease;
}

.auth-page .content .sign-in .local__button:hover {
  cursor: pointer;
  width: 100%;
}

.auth-page .content .sign-in .active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 1;
  -webkit-animation: authpage-signin-local-showdown 400ms;
          animation: authpage-signin-local-showdown 400ms;
}

@-webkit-keyframes authpage-signin-local-showdown {
  from {
    opacity: 0;
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes authpage-signin-local-showdown {
  from {
    opacity: 0;
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@-webkit-keyframes auth-signin-showup {
  from {
    opacity: 0;
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes auth-signin-showup {
  from {
    opacity: 0;
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
/*# sourceMappingURL=signInContent.css.map */