.slot-list {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  grid-row-gap: 2rem;
}

.slot-list__date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  width: 100%;
  max-width: 1260px;
  margin: 0 auto;
}

.slot-list__date__time {
  border-radius: 3px;
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
  background: #ffffff;
  letter-spacing: 0.07rem;
  line-height: 2rem;
  font-size: 1rem;
  font-weight: 600;
  cursor: default;
  color: #0c032b;
  -webkit-box-shadow: -2px -2px 5px #e1e7ec, 2px 2px 5px #cad3df;
          box-shadow: -2px -2px 5px #e1e7ec, 2px 2px 5px #cad3df;
}

.slot-list__date__items {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-grid-columns: (minmax(260px, 280px))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(260px, 280px));
  grid-row-gap: 2rem;
  grid-column-gap: 2rem;
}

.slot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  overflow: hidden;
  width: 100%;
  border-radius: 12px;
  opacity: 0;
  background: #fff;
  -webkit-transition: -webkit-box-shadow 300ms ease-in-out, -webkit-transform 300ms ease-in-out;
  transition: -webkit-box-shadow 300ms ease-in-out, -webkit-transform 300ms ease-in-out;
  transition: box-shadow 300ms ease-in-out, transform 300ms ease-in-out;
  transition: box-shadow 300ms ease-in-out, transform 300ms ease-in-out, -webkit-box-shadow 300ms ease-in-out, -webkit-transform 300ms ease-in-out;
  -webkit-box-shadow: 4px 4px 0 #b8c1ca;
          box-shadow: 4px 4px 0 #b8c1ca;
}

.slot__image-area {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  -webkit-filter: sepia(10%);
          filter: sepia(10%);
  background-position-x: 0px;
  background: url("../svg/Meteor2.svg") no-repeat right center;
  -webkit-transition: background-position 300ms ease-in-out, -webkit-transform 300ms ease-in-out;
  transition: background-position 300ms ease-in-out, -webkit-transform 300ms ease-in-out;
  transition: transform 300ms ease-in-out, background-position 300ms ease-in-out;
  transition: transform 300ms ease-in-out, background-position 300ms ease-in-out, -webkit-transform 300ms ease-in-out;
}

.slot__image-area:hover img,
.slot__image-area:active img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.slot__image-area img {
  position: relative;
  bottom: -50%;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  -webkit-transition: -webkit-transform 300ms ease-in-out;
  transition: -webkit-transform 300ms ease-in-out;
  transition: transform 300ms ease-in-out;
  transition: transform 300ms ease-in-out, -webkit-transform 300ms ease-in-out;
  border: 1px solid #fff;
}

.slot__image-area img:hover, .slot__image-area img:active {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.slot:hover .slot__image-area, .slot__image-area:hover, .slot__image-area:active {
  background-position-x: -500px;
}

.slot__info-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 1rem 1.1rem;
  border-radius: 0 0 6px 6px;
}

.slot__name {
  display: inline-block;
  width: 100%;
  margin-top: 40px;
  text-align: center;
  font-weight: 600;
}

.slot__datetime {
  width: 100%;
  margin-top: 1rem;
  font-size: 0.9rem;
  padding: 0.5em 0rem;
  font-weight: 500;
}

.slot__datetime__date {
  width: 100%;
  text-align: center;
}

.slot__datetime__time {
  margin-top: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.slot__datetime__start, .slot__datetime__end {
  padding: 0.4rem 0.8rem;
  border-radius: 3px;
  border: 1px solid #c7c7c7;
}

.slot__topics {
  overflow: overlay;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-grid-columns: (80px)[auto-fill];
      grid-template-columns: repeat(auto-fill, 80px);
  -ms-grid-rows: (2rem)[auto-fill];
      grid-template-rows: repeat(auto-fill, 2rem);
  grid-gap: 0.1rem;
  width: 100%;
  margin-top: 1rem;
  height: 4rem;
  overflow: auto;
}

.slot__topic-item {
  border-radius: 6px;
  margin-top: 0.3rem;
  margin-right: 0.3rem;
  padding: 0.2rem 0.4rem;
  color: #fff;
  font-size: 0.9rem;
  background: #1cacac;
}

.slot__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 3rem;
  margin-top: 1rem;
  border-radius: 3px;
}

.slot__booking-button {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 3px;
  padding: 0.5rem 2rem;
  cursor: pointer;
  color: #fff;
  background: #d61841;
  -webkit-transition: background-position 0.3s ease, font-size 0.3s ease-in-out, -webkit-transform 0.2s linear;
  transition: background-position 0.3s ease, font-size 0.3s ease-in-out, -webkit-transform 0.2s linear;
  transition: transform 0.2s linear, background-position 0.3s ease, font-size 0.3s ease-in-out;
  transition: transform 0.2s linear, background-position 0.3s ease, font-size 0.3s ease-in-out, -webkit-transform 0.2s linear;
  -webkit-box-shadow: 0 0 6px rgba(238, 54, 94, 0.2);
          box-shadow: 0 0 6px rgba(238, 54, 94, 0.2);
}

.slot__booking-button:hover {
  background: #ee365e;
  -webkit-box-shadow: 0 0 12px rgba(238, 54, 94, 0.2);
          box-shadow: 0 0 12px rgba(238, 54, 94, 0.2);
}

.slot__booking-button:active {
  background-position: 0.5rem;
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
  -webkit-box-shadow: 0 0 6px rgba(238, 54, 94, 0.2);
          box-shadow: 0 0 6px rgba(238, 54, 94, 0.2);
}
/*# sourceMappingURL=slotList.css.map */