#home-page .dashboard-content .student-dashboard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  width: 100%;
  height: calc(100vh - 4rem);
}

#home-page .dashboard-content .student-dashboard__content {
  display: inline-block;
  background: #eff1f3;
  overflow: overlay;
  width: 100%;
}

#home-page .dashboard-content .student-dashboard__content__headline {
  color: #2581be;
  margin-bottom: 1rem;
  padding-left: 1rem;
  font-size: 2rem;
  letter-spacing: 0.2rem;
}

#home-page .dashboard-content .student-dashboard__content .booking-list {
  display: inline-block;
  width: 100%;
}

#home-page .dashboard-content .student-dashboard__content .booking-list__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
  padding: 0 1rem;
  text-transform: uppercase;
}

#home-page .dashboard-content .student-dashboard__content .booking-list__title {
  font-size: 1.2rem;
  letter-spacing: 0.1rem;
}

#home-page .dashboard-content .student-dashboard__content .booking-list__title--1 {
  color: #6a9194;
}

#home-page .dashboard-content .student-dashboard__content .booking-list__title--2 {
  color: #0bad54;
}

#home-page .dashboard-content .student-dashboard__content .booking-list__title---1 {
  color: #da5521;
}

#home-page .dashboard-content .student-dashboard__content .booking-list__title--0 {
  color: #4e4e4e;
}

#home-page .dashboard-content .student-dashboard__content .booking-list__title--4 {
  color: #0b5b80;
}

#home-page .dashboard-content .student-dashboard__content .booking-list__panel {
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#home-page .dashboard-content .student-dashboard__content .booking-list__panel .refresh,
#home-page .dashboard-content .student-dashboard__content .booking-list__panel .expand-more {
  border-radius: 50%;
  padding: 0.2rem;
  font-size: 2rem;
}

#home-page .dashboard-content .student-dashboard__content .booking-list__panel .refresh:hover, #home-page .dashboard-content .student-dashboard__content .booking-list__panel .refresh:active,
#home-page .dashboard-content .student-dashboard__content .booking-list__panel .expand-more:hover,
#home-page .dashboard-content .student-dashboard__content .booking-list__panel .expand-more:active {
  cursor: pointer;
  background: #ccc;
}

#home-page .dashboard-content .student-dashboard__content .booking-list__panel .refresh {
  margin-right: 0.5rem;
}

#home-page .dashboard-content .student-dashboard__content .booking-list__panel .expand-more {
  -webkit-transition: -webkit-transform 400ms ease-in-out;
  transition: -webkit-transform 400ms ease-in-out;
  transition: transform 400ms ease-in-out;
  transition: transform 400ms ease-in-out, -webkit-transform 400ms ease-in-out;
}

#home-page .dashboard-content .student-dashboard__content .booking-list__panel .rotate-180 {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

#home-page .dashboard-content .student-dashboard__content .booking-list__content {
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(200px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 2rem;
  padding: 1rem;
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  min-height: 200px;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}

#home-page .dashboard-content .student-dashboard__content .booking-list__content .booking-request {
  display: -ms-grid;
  display: grid;
  grid-gap: 1rem;
  border-radius: 6px;
  padding: 1rem;
  margin-bottom: 1rem;
  opacity: 0;
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
  border: 1px solid #e7e7e7;
  background: #fff;
}

#home-page .dashboard-content .student-dashboard__content .booking-list__content .booking-request:hover {
  border: 1 solid transparent;
  -webkit-box-shadow: -4px -4px 8px #d9e1e4, 4px 4px 8px #d5dbdd;
          box-shadow: -4px -4px 8px #d9e1e4, 4px 4px 8px #d5dbdd;
}

#home-page .dashboard-content .student-dashboard__content .booking-list__content .booking-request__more-detail {
  position: absolute;
  top: -1px;
  right: -1px;
  padding: 0 0.5rem;
  font-size: 1.5rem;
  color: #fff;
  background-color: #3a8ad4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: -webkit-transform 200ms ease;
  transition: -webkit-transform 200ms ease;
  transition: transform 200ms ease;
  transition: transform 200ms ease, -webkit-transform 200ms ease;
}

#home-page .dashboard-content .student-dashboard__content .booking-list__content .booking-request__more-detail:hover {
  cursor: pointer;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

#home-page .dashboard-content .student-dashboard__content .booking-list__content .booking-request__more-detail:active {
  -webkit-transform: scale(1);
          transform: scale(1);
}

#home-page .dashboard-content .student-dashboard__content .booking-list__content .booking-request__lecturer-name, #home-page .dashboard-content .student-dashboard__content .booking-list__content .booking-request__topic, #home-page .dashboard-content .student-dashboard__content .booking-list__content .booking-request__time-start, #home-page .dashboard-content .student-dashboard__content .booking-list__content .booking-request__meeting-url, #home-page .dashboard-content .student-dashboard__content .booking-list__content .booking-request__create-time, #home-page .dashboard-content .student-dashboard__content .booking-list__content .booking-request__time-end {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

#home-page .dashboard-content .student-dashboard__content .booking-list__content .booking-request__lecturer-name > p, #home-page .dashboard-content .student-dashboard__content .booking-list__content .booking-request__topic > p, #home-page .dashboard-content .student-dashboard__content .booking-list__content .booking-request__time-start > p, #home-page .dashboard-content .student-dashboard__content .booking-list__content .booking-request__meeting-url > p, #home-page .dashboard-content .student-dashboard__content .booking-list__content .booking-request__create-time > p, #home-page .dashboard-content .student-dashboard__content .booking-list__content .booking-request__time-end > p {
  width: 100%;
  font-size: 0.9rem;
}

#home-page .dashboard-content .student-dashboard__content .booking-list__content .booking-request__lecturer-name > div, #home-page .dashboard-content .student-dashboard__content .booking-list__content .booking-request__topic > div, #home-page .dashboard-content .student-dashboard__content .booking-list__content .booking-request__time-start > div, #home-page .dashboard-content .student-dashboard__content .booking-list__content .booking-request__meeting-url > div, #home-page .dashboard-content .student-dashboard__content .booking-list__content .booking-request__create-time > div, #home-page .dashboard-content .student-dashboard__content .booking-list__content .booking-request__time-end > div {
  display: inline-block;
  width: 100%;
  padding: 0.4rem 0;
  margin-top: 0.2rem;
  font-size: 0.9rem;
  font-weight: 600;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  border-bottom: 1px solid #2c5570;
}

#home-page .dashboard-content .student-dashboard__content .booking-list__content .booking-request__lecturer-name > div > div, #home-page .dashboard-content .student-dashboard__content .booking-list__content .booking-request__topic > div > div, #home-page .dashboard-content .student-dashboard__content .booking-list__content .booking-request__time-start > div > div, #home-page .dashboard-content .student-dashboard__content .booking-list__content .booking-request__meeting-url > div > div, #home-page .dashboard-content .student-dashboard__content .booking-list__content .booking-request__create-time > div > div, #home-page .dashboard-content .student-dashboard__content .booking-list__content .booking-request__time-end > div > div {
  display: inline-block;
}

#home-page .dashboard-content .student-dashboard__content .booking-list__content .booking-request__lecturer-name > div > div:first-child, #home-page .dashboard-content .student-dashboard__content .booking-list__content .booking-request__topic > div > div:first-child, #home-page .dashboard-content .student-dashboard__content .booking-list__content .booking-request__time-start > div > div:first-child, #home-page .dashboard-content .student-dashboard__content .booking-list__content .booking-request__meeting-url > div > div:first-child, #home-page .dashboard-content .student-dashboard__content .booking-list__content .booking-request__create-time > div > div:first-child, #home-page .dashboard-content .student-dashboard__content .booking-list__content .booking-request__time-end > div > div:first-child {
  margin-right: 0.5rem;
}

#home-page .dashboard-content .student-dashboard__content .booking-list__content .booking-request__meeting-url a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  padding: 0.5rem;
  border-radius: 3px;
  margin-top: 0.5rem;
  font-size: 0.9rem;
  font-weight: 600;
  color: #fff;
  background: #10866d;
  text-decoration: none;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

#home-page .dashboard-content .student-dashboard__content .booking-list__content .booking-request__meeting-url a:active {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

#home-page .dashboard-content .student-dashboard__content .booking-list .hide-booking-list-content {
  height: 0;
  opacity: 0;
  padding: 0;
  margin: 0;
  border: 0;
  min-height: 0;
  overflow: hidden;
}

#home-page .dashboard-content .student-dashboard__content .booking-list .hide-booking-list-content * {
  opacity: 0;
  border: 0;
  overflow: hidden;
}

@media all and (max-width: 500.5px) {
  #home-page .dashboard-content .student-dashboard {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    width: 100%;
    height: calc(100vh - 4rem);
  }
  #home-page .dashboard-content .student-dashboard__content {
    padding: 1rem 0;
  }
}

@media all and (min-width: 501px) {
  #home-page .dashboard-content .student-dashboard {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    width: 100%;
    height: calc(100vh - 4rem);
  }
  #home-page .dashboard-content .student-dashboard__content {
    padding: 1rem;
  }
}

@-webkit-keyframes dashboard-booking-item-fadein {
  from {
    opacity: 0;
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes dashboard-booking-item-fadein {
  from {
    opacity: 0;
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
/*# sourceMappingURL=studentDashboard.css.map */