.view-request-box {
  position: fixed;
  right: 0;
  bottom: 0;
  top: 0;
  left: 0;
  z-index: 10;
  opacity: 0;
  overflow: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: rgba(0, 0, 0, 0.2);
  -webkit-transition: opacity 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out;
}

.view-request-box .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  overflow-y: visible;
  width: calc(100% - 2rem);
  max-width: 600px;
  max-height: 700px;
  padding: 1rem;
  overflow: auto;
  -webkit-transform: translateY(-100vh);
          transform: translateY(-100vh);
  -webkit-transition: opacity 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out, transform 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out, transform 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out;
  background: #fff;
}

.view-request-box .box__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 2rem;
  width: 100%;
  margin-bottom: 1rem;
}

.view-request-box .box__header__title {
  font-size: 1.4rem;
  font-weight: 500;
  text-transform: capitalize;
  margin-right: 1rem;
}

.view-request-box .box__header__close-icon {
  padding: 0.5rem;
  border-radius: 50%;
  font-size: 2rem;
  cursor: pointer;
}

.view-request-box .box__header__close-icon:hover {
  background: #ddd;
}

.view-request-box .box__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  width: 100%;
  min-height: 200px;
}

.view-request-box .box__request {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.view-request-box .box__request__actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 160px;
}

.view-request-box .box__request__avatar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80px;
}

.view-request-box .box__request__avatar img {
  border-radius: 50%;
}

.view-request-box .box__request__name {
  display: inline-block;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.view-request-box .box__request__accept, .view-request-box .box__request__deny {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 70px;
  height: 2rem;
  cursor: pointer;
}

.view-request-box .box__request__accept {
  color: #fff;
  background: #333;
}

.view-request-box .box__request__deny {
  color: #333;
  background: #eee;
}

.view-request-box .box__request__more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 2rem;
  width: 2rem;
  margin-left: 1rem;
  border-radius: 50%;
  font-size: 1.5rem;
  cursor: pointer;
}

.view-request-box .box__request__more:hover {
  background: #eee;
}

.view-request-box .box__bottom {
  width: 100%;
  height: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.view-request-box .box__bottom__close {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  padding: 0.5rem 1rem;
  margin-left: auto;
  font-size: 0.9rem;
  text-transform: uppercase;
  font-weight: 600;
  cursor: pointer;
  color: #000;
  background: #fff;
}

.view-request-box .box__bottom__close:hover {
  background: #eee;
}

.active-view-request-box {
  opacity: 1;
}

.active-view-request-box .box {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}
/*# sourceMappingURL=viewRequestBox.css.map */