.wide {
  max-width: 1200px;
}

.row.no-gutters {
  margin-left: 0;
  margin-right: 0;
}

.row.no-gutters .col {
  padding-left: 0;
  padding-right: 0;
}

/* mobile  */
@media screen and (min-width: 0) {
  .grid {
    display: block;
    padding: 0;
  }
  .wide {
    width: 100%;
    margin: 0 auto;
  }
  .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: wrap;
        flex-flow: wrap;
    width: 100%;
  }
  .col {
    display: block;
    padding: 0 0.25rem;
  }
  .mobile-0 {
    display: none;
  }
  .mobile-1 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 8.33333%;
            flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }
  .mobile-2 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 16.66667%;
            flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
  .mobile-3 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
    max-width: 25%;
  }
  .mobile-4 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.33333%;
            flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .mobile-5 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 41.66667%;
            flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }
  .mobile-6 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
  }
  .mobile-7 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 58.33333%;
            flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }
  .mobile-8 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 66.66667%;
            flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }
  .mobile-9 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 75%;
            flex: 0 0 75%;
    max-width: 75%;
  }
  .mobile-10 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 83.33333%;
            flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }
  .mobile-11 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 91.66667%;
            flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }
  .mobile-12 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
  .mobile-offset-1 {
    margin-left: 8.33333%;
  }
  .mobile-offset-2 {
    margin-left: 16.66667%;
  }
  .mobile-offset-3 {
    margin-left: 25%;
  }
  .mobile-offset-4 {
    margin-left: 33.33333%;
  }
  .mobile-offset-5 {
    margin-left: 41.66667%;
  }
  .mobile-offset-6 {
    margin-left: 50%;
  }
  .mobile-offset-7 {
    margin-left: 58.33333%;
  }
  .mobile-offset-8 {
    margin-left: 66.66667%;
  }
  .mobile-offset-9 {
    margin-left: 75%;
  }
  .mobile-offset-10 {
    margin-left: 83.33333%;
  }
  .mobile-offset-11 {
    margin-left: 91.66667%;
  }
  .mobile-1,
  .mobile-2,
  .mobile-3,
  .mobile-4,
  .mobile-5,
  .mobile-6,
  .mobile-7,
  .mobile-8,
  .mobile-9,
  .mobile-10,
  .mobile-11,
  .mobile-12 {
    display: block;
  }
}

/* Large mobile */
@media screen and (min-width: 532px) {
  .grid {
    display: block;
    padding: 0;
  }
  .wide {
    width: 500px;
    margin: 0 auto;
  }
  .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: wrap;
        flex-flow: wrap;
  }
}

/* tablet  */
@media screen and (min-width: 768px) {
  .wide {
    width: 740px;
  }
  .row {
    margin: 0 -0.5rem;
  }
  .col {
    padding: 0 0.5rem;
  }
  .tablet-0 {
    display: none;
  }
  .tablet-1 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 8.33333%;
            flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }
  .tablet-2 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 16.66667%;
            flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
  .tablet-3 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
    max-width: 25%;
  }
  .tablet-4 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.33333%;
            flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .tablet-5 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 41.66667%;
            flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }
  .tablet-6 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
  }
  .tablet-7 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 58.33333%;
            flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }
  .tablet-8 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 66.66667%;
            flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }
  .tablet-9 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 75%;
            flex: 0 0 75%;
    max-width: 75%;
  }
  .tablet-10 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 83.33333%;
            flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }
  .tablet-11 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 91.66667%;
            flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }
  .tablet-12 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
  .tablet-offset-1 {
    margin-left: 8.33333%;
  }
  .tablet-offset-2 {
    margin-left: 16.66667%;
  }
  .tablet-offset-3 {
    margin-left: 25%;
  }
  .tablet-offset-4 {
    margin-left: 33.33333%;
  }
  .tablet-offset-5 {
    margin-left: 41.66667%;
  }
  .tablet-offset-6 {
    margin-left: 50%;
  }
  .tablet-offset-7 {
    margin-left: 58.33333%;
  }
  .tablet-offset-8 {
    margin-left: 66.66667%;
  }
  .tablet-offset-9 {
    margin-left: 75%;
  }
  .tablet-offset-10 {
    margin-left: 83.33333%;
  }
  .tablet-offset-11 {
    margin-left: 91.66667%;
  }
  .tablet-1,
  .tablet-2,
  .tablet-3,
  .tablet-4,
  .tablet-5,
  .tablet-6,
  .tablet-7,
  .tablet-8,
  .tablet-9,
  .tablet-10,
  .tablet-11,
  .tablet-12 {
    display: block;
  }
}

/* normal PC */
@media screen and (min-width: 1024px) {
  .wide {
    width: 1000px;
  }
  .row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    margin: 0 -0.75rem;
  }
  .col {
    padding: 0 0.75rem;
  }
  .pc-0 {
    display: none;
  }
  .pc-1 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 8.33333%;
            flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }
  .pc-2 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 16.66667%;
            flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
  .pc-3 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
    max-width: 25%;
  }
  .pc-4 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.33333%;
            flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .pc-5 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 41.66667%;
            flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }
  .pc-6 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
  }
  .pc-7 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 58.33333%;
            flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }
  .pc-8 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 66.66667%;
            flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }
  .pc-9 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 75%;
            flex: 0 0 75%;
    max-width: 75%;
  }
  .pc-10 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 83.33333%;
            flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }
  .pc-11 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 91.66667%;
            flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }
  .pc-12 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
  .pc-offset-1 {
    margin-left: 8.33333%;
  }
  .pc-offset-2 {
    margin-left: 16.66667%;
  }
  .pc-offset-3 {
    margin-left: 25%;
  }
  .pc-offset-4 {
    margin-left: 33.33333%;
  }
  .pc-offset-5 {
    margin-left: 41.66667%;
  }
  .pc-offset-6 {
    margin-left: 50%;
  }
  .pc-offset-7 {
    margin-left: 58.33333%;
  }
  .pc-offset-8 {
    margin-left: 66.66667%;
  }
  .pc-offset-9 {
    margin-left: 75%;
  }
  .pc-offset-10 {
    margin-left: 83.33333%;
  }
  .pc-offset-11 {
    margin-left: 91.66667%;
  }
  .pc-1,
  .pc-2,
  .pc-3,
  .pc-4,
  .pc-5,
  .pc-6,
  .pc-7,
  .pc-8,
  .pc-9,
  .pc-10,
  .pc-11,
  .pc-12 {
    display: block;
  }
}

@media screen and (min-width: 1280px) {
  .wide {
    width: 1200px;
  }
  .row {
    margin: 0 -1rem;
  }
  .col {
    padding: 0 1rem;
  }
  .large-pc-0 {
    display: none;
  }
  .large-pc-1 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 8.33333%;
            flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }
  .large-pc-2 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 16.66667%;
            flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
  .large-pc-3 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
    max-width: 25%;
  }
  .large-pc-4 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.33333%;
            flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .large-pc-5 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 41.66667%;
            flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }
  .large-pc-6 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
  }
  .large-pc-7 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 58.33333%;
            flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }
  .large-pc-8 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 66.66667%;
            flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }
  .large-pc-9 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 75%;
            flex: 0 0 75%;
    max-width: 75%;
  }
  .large-pc-10 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 83.33333%;
            flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }
  .large-pc-11 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 91.66667%;
            flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }
  .large-pc-12 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
  .large-pc-offset-1 {
    margin-left: 8.33333%;
  }
  .large-pc-offset-2 {
    margin-left: 16.66667%;
  }
  .large-pc-offset-3 {
    margin-left: 25%;
  }
  .large-pc-offset-4 {
    margin-left: 33.33333%;
  }
  .large-pc-offset-5 {
    margin-left: 41.66667%;
  }
  .large-pc-offset-6 {
    margin-left: 50%;
  }
  .large-pc-offset-7 {
    margin-left: 58.33333%;
  }
  .large-pc-offset-8 {
    margin-left: 66.66667%;
  }
  .large-pc-offset-9 {
    margin-left: 75%;
  }
  .large-pc-offset-10 {
    margin-left: 83.33333%;
  }
  .large-pc-offset-11 {
    margin-left: 91.66667%;
  }
  .large-pc-1,
  .large-pc-2,
  .large-pc-3,
  .large-pc-4,
  .large-pc-5,
  .large-pc-6,
  .large-pc-7,
  .large-pc-8,
  .large-pc-9,
  .large-pc-10,
  .large-pc-11,
  .large-pc-12 {
    display: block;
  }
}
/*# sourceMappingURL=GridLibrary.css.map */